<nav class="flex flex-row justify-evenly items-center">
    <div>
        <a href="/"><img src="./images/logo.png" alt="logo"></a>
    </div>
    <div class="space-x-3">
        <a href="/" class="text-xl hover:underline">Home</a>
        <a href="/about" class="text-xl hover:underline">About</a>
        <a href="/projects" class="text-xl hover:underline">Projects</a>
        <a href="/services" class="text-xl hover:underline">Services</a>
        <a href="/contact" class="text-xl hover:underline">Contact Me</a>
    </div>
</nav>