<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>

  <body class="bg-gray-100 text-lg">
    <%- include('./partials/nav.ejs')%>
      <div class="p-10 flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold">Welome to my portfolio.</h1>
        <p class="pt-4">Always striving for best!</p>
        <a href="/about" class="p-3 mt-8 rounded-lg bg-gray-200 shadow-lg hover:shadow-xl hover:bg-gray-300 hover:cursor-pointer" ><button>Know About Me</button></a>
      </div>
      <%- include('./partials/footer.ejs')%>
  </body>

</html>